.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.logo {
  animation: spinAndRoll 3s ease-in-out infinite alternate;
}

@keyframes spinAndRoll {
  0% {
    transform: translateX(-100px) rotate(0deg);
  }
  100% {
    transform: translateX(100px) rotate(360deg);
  }
}