.primarySideNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80px;
  height: 100vh;
  background-color: var(--white);
  padding: 95px 0 40px 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.iconText {
  font-size: 10px;
}

.iconItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 700;
  gap: 4px;
  color: var(--gray-500);
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    color: var(--gray-600);
  }

  &.active {
    color: var(--action-600);
  }

  &.disabled {
    opacity: 0.4;
    cursor: not-allowed;
    pointer-events: none;

    svg {
      margin: 12px 0;
    }
  }

  .iconWrapper {
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
    padding: 12px;
  }

  &.active .iconWrapper {
    background-color: var(--slate-100);
  }

  svg {
    width: 24px;
    height: 24px;
  }
}

.appIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  color: var(--brand-black);

  svg {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 1600px) {
  .primarySideNav {
    position: relative;
    left: 0;
    flex-shrink: 0;
    z-index: 1050;
    transition: left 0.3s ease;
  }
}

@media (max-width: 600px) {
  .primarySideNav {
    width: 64px;
  }
}
