.companyDropdown {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  border-right: 1px solid var(--gray-200);
  padding-right: 20px;
  z-index: 1000;
}

.iconLogoWrapper {
  display: flex;
  position: relative;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border-radius: 50%;
}

.iconLogo {
  display: block;
  position: relative;
  width: 100%;
}

.trigger {
  display: flex;
  width: 230px;
  padding: 8px 12px 8px 6px;
  align-items: center;
  gap: 13px;
  background: white;
  border: none;
  border-radius: var(--border-radius-sm);
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 14px;
  font-weight: 760;
  line-height: 20px;
  color: var(--neutral-600);

  &:hover .chevron {
    color: black;
  }

  &:focus {
    outline: none;
    border: none;
  }
}

.text {
  flex: 1;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chevron {
  color: var(--neutral-600);
  flex-shrink: 0;
  display: flex;
  transition: all 0.3s;

  &.open {
    transform: rotate(180deg);
  }
}

.menu {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  right: 0;
  width: 265px;
  background: white;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-sm);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow-y: auto;
  z-index: 1001;
}

.option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 12px;
  border: none;
  background: white;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-size: 14px;
  font-weight: 760;
  line-height: 20px;
  color: var(--neutral-600);
  text-align: left;

  &:hover {
    background: var(--neutral-100);
  }

  &:first-child {
    border-top-left-radius: var(--border-radius-sm);
    border-top-right-radius: var(--border-radius-sm);
  }

  &:last-child {
    border-bottom-left-radius: var(--border-radius-sm);
    border-bottom-right-radius: var(--border-radius-sm);
  }

  &.selected {
    background: var(--primary-100);
    color: var(--primary-600);
    font-weight: 760;

    &:hover {
      background: var(--primary-100);
    }
  }

  span {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.checkmark {
  color: var(--primary-600);
  font-weight: bold;
  font-size: 12px;
  flex-shrink: 0;
}

@media (max-width: 768px) {
  .companyDropdown {
    display: none;
  }
}
