.cardContent {
  padding: 12px;
}

.detailItem {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.label {
  font-size: 12px;
  color: var(--gray-600);
  margin-bottom: 4px;
}

.value {
  font-size: 14px;
  color: var(--gray-900);
}

.noData {
  font-size: 14px;
  color: var(--gray-600);
  font-style: italic;
}
