.infoCard {
  background: white;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid var(--gray-300);
  overflow: hidden;

  // Compact mode - when sidebar is collapsed
  &.compact {
    .header {
      justify-content: center;
      border-radius: 6px;
      overflow: hidden;
    }
    .headerLeft {
      gap: 0;
      height: 20px;
      h3 {
        width: 0;
        overflow: hidden;
      }
    }

    .toggleButton {
      display: none;
    }
    &:hover {
      box-shadow:
        0 0 0 4px rgba(102, 122, 153, 0.16),
        0 2px 5px 0 rgba(102, 122, 153, 0.08),
        0 0 0 1px rgba(102, 122, 153, 0.16),
        0 1px 1px 0 rgba(102, 122, 153, 0.12);

      .icon {
        filter: blur(10px);
      }
      .compactTitle {
        opacity: 1;
      }
    }
  }
}

.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s ease-in-out;

  &.collapsed {
    background: white;
  }

  &.expanded {
    background: var(--gray-100);
  }

  &.clickable {
    cursor: pointer;
  }
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;

  h3 {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    color: var(--gray-800);
    text-wrap-mode: nowrap;
    transition: all 0.5s;
  }
}

.icon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gray-800);
  transition: all 0.3s;

  svg {
    width: 20px;
    height: 20px;
  }
}

.toggleButton {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid var(--gray-300);
  background: var(--gray-100);
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: var(--gray-200);
  }

  svg {
    transition: transform 0.2s ease-in-out;
  }

  svg.rotated {
    transform: rotate(180deg);
  }
}

.rotated {
  transform: rotate(180deg);
}

// Reusable text styles for InfoCard content
.defaultText,
.inputLabels {
  font-size: 14px;
  font-weight: 550;
  color: var(--gray-900);
  line-height: 170%;
  margin-bottom: 4px;
}

.lightText {
  font-size: 14px;
  font-weight: 450;
  color: var(--gray-500);
}

.inputText {
  font-size: 14px;
  font-weight: 450;
  line-height: 20px;
  color: var(--gray-900);
}

.dataLabel {
  font-size: 12px;
  font-weight: 500;
  color: var(--gray-500);
}

.dataText {
  font-size: 14px;
  font-weight: 600;
  color: var(--gray-900);
}

.transcriptText {
  font-size: 14px;
  font-weight: 450;
  color: var(--gray-900);
}

.compactTitle {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--gray-900);
  font-size: 11px;
  line-height: 120%;
  font-weight: 650;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
