// Step Component Styles
.stepWrapper {
  display: flex;
  padding: 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  padding: 0;
  border-radius: 7px;
  border: 1px solid var(--slate-300);
  box-shadow:
    0 1px 2px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px 0 rgba(0, 0, 0, 0.08);
  background: white;
  width: 100%;
  overflow: hidden;
}

.stepContainer {
  display: flex;
  align-items: center;
  gap: 0;
  width: 100%;
  background-color: var(--gray-300);
  overflow: hidden;
}

.stepItemWrapper {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 16px 16px 13px 48px;
  background-color: #fff;
  margin: 0 0 0 -15px;
  border: none;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:not(:last-of-type, :first-of-type) {
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 5% 50%, 0% 0%);
  }

  &:first-of-type {
    clip-path: polygon(95% 0, 100% 50%, 95% 100%, 0% 100%, 0% 0%);
    margin-left: 0;
  }

  &:last-of-type {
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 5% 50%, 0% 0%);
  }

  &.current {
    border-bottom: 3px solid var(--action-500);

    &:hover {
      .stepLabel {
        color: var(--action-600);
      }
    }
  }

  &.completed:hover {
    .stepNumber {
      background-color: var(--action-500);
    }

    .editIcon {
      opacity: 1;
    }
    .checkmark {
      opacity: 0;
    }
  }

  &:not(.disabled):hover {
    border-bottom: 3px solid var(--action-500);

    .stepLabel {
      color: var(--action-600);
    }
  }
}

.editIcon {
  opacity: 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.2s ease-in-out;
  transform: translate(-50%, -50%);
}

.checkmark {
  transition: all 0.2s ease-in-out;
}

.stepItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  border: none;
  background: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  justify-content: flex-start;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.stepNumber {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  font-weight: 750;
  border: 2px solid var(--gray-300);
  transition: all 0.2s ease-in-out;

  svg {
    width: 32px;
    height: 32px;
  }
}

.stepLabel {
  display: block;
  font-size: 14px;
  line-height: 140%;
  font-weight: 550;
  color: var(--gray-900);
  text-align: left;
  transition: color 0.2s ease-in-out;
  letter-spacing: 0.14px;
  width: 100%;
}

.stepSubLabel {
  display: block;
  color: var(--gray-500);
  font-size: 12px;
  text-align: left;
  font-style: normal;
  font-weight: 450;
  line-height: 140%;
  letter-spacing: 0.12px;
  width: 100%;
}

// Step status styles
.upcoming {
  .stepNumber {
    background-color: transparent;

    color: var(--gray-700);
  }
}

.current {
  .stepNumber {
    color: var(--action-500);
    border-color: var(--action-500);
  }

  .stepLabel {
    color: var(--gray-800);
    font-weight: 650;
  }
}

.completed {
  .stepNumber {
    background-color: var(--success-500);
    color: white;
    border: none;
  }

  .stepLabel {
    color: var(--gray-700);
  }
}

.disabled {
  .stepNumber,
  .stepLabel,
  .stepSubLabel {
    color: var(--gray-300);
  }
}

// Separator SVG between steps
.stepSeparator {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: 8px;

  svg {
    flex-shrink: 0;
  }
}
