.wrapper {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.section {
  flex: 0 0 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
