@use '../../styles/Buttons.scss';

.authWrapper {
  width: 100vw;
  height: 100vh;
  padding: 0 2rem;
  justify-self: center;
  align-self: center;
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  h1,
  h2 {
    text-align: center;
  }

  .buttonWrapper {
    display: flex;
    position: relative;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
  }

  .authFormButton {
    @extend .button;

    color: #fff;
    background: #353535;
    border: 1px solid #353535;
    border-radius: 0 4px 4px 0;

    &:hover {
      background: #73d2de;
      border: 1px solid #73d2de;
      color: #353535;
    }

    @media screen and (width <= 480px) {
      border-radius: 4px;
      margin-top: 5px;
    }
  }

  .magicLinkFormWrapper {
    max-width: 100%;
    width: 470px;
  }

  .magicLinkHeading {
    text-align: center;
  }

  .magicLinkForm {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    input {
      padding: 1rem 0.5rem;
      font-size: 1rem;
      border: 1px solid #353535;
      border-radius: 4px 0 0 4px;
      outline: none;
      flex-grow: 1;
    }

    @media screen and (width <= 480px) {
      flex-flow: column;

      input {
        border-radius: 4px;
        width: 100%;
      }
    }
  }
}
